@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@source '../src/**/*.{ts,tsx}';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 480px;
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --max-width-8xl: 90rem;
}

@layer components {
  .modal-overlay[data-entering] {
    animation: modal-overlay-in 0.3s ease-out;
  }

  .modal-overlay[data-exiting] {
    animation: modal-overlay-out 0.2s ease-in;
  }

  @keyframes modal-overlay-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes modal-overlay-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .modal-content[data-entering] {
    animation: modal-content-in 0.3s ease-out;
  }

  .modal-content[data-exiting] {
    animation: modal-content-out 0.2s ease-in;
  }

  @keyframes modal-content-in {
    0% {
      opacity: 0;
      transform: scaleX(0.95) scaleY(0.95);
    }

    100% {
      opacity: 1;
      transform: scaleX(1) scaleY(1);
    }
  }

  @keyframes modal-content-out {
    0% {
      opacity: 1;
      transform: scaleX(1) scaleY(1);
    }

    100% {
      opacity: 0;
      transform: scaleX(0.95) scaleY(0.95);
    }
  }
}

/* Used in Chrome to remove the marker. */
summary {
  list-style-type: none;
}

/* Used for Safari to remove the marker. */
summary::-webkit-details-marker {
  display: none;
}
