@import 'tailwindcss';
@import '@heroui/styles';
@source './**/*.tsx';

@custom-variant dark (&:where(.dark, .dark *));

:root,
[data-theme='light'] {
  --accent: oklch(0.446 0.03 256.8);
  --accent-foreground: oklch(0.985 0 0);
}

.dark,
[data-theme='dark'] {
  --accent: oklch(0.705 0.015 286.067);
  --accent-foreground: oklch(0.141 0.005 285.823);
}

@layer components {
  .button {
    @apply rounded-md;
  }

  .button--primary {
    @apply bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800 active:text-zinc-100/70 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:active:bg-zinc-700 dark:active:text-zinc-100/70;
  }

  .button--secondary {
    @apply bg-zinc-50 font-medium text-zinc-900 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70;
  }
}
